.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}
.form-floating > label {
  color: #000;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  background-color: transparent;
}

.form-control:focus {
  background-color: #fff !important;
}

.form-control {
  border-color: #6a11cb;
}

.heading {
  color: #6a11cb;
}

.date-picker-con > div:first-child {
  height: 100%;
  width: 100%;
}
.date-picker-con input {
  padding: 1rem 0.75rem;
  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  line-height: 1.25;
}

.submit-btn button {
  padding: 0.75rem 2rem;
  border-color: #6a11cb;
}
.submit-btn button:hover,
.submit-btn button:first-child:active {
  background-color: #6a11cb;
  border-color: #6a11cb;
}

.table {
  border-color: #6a11cb;
}

.err-msg {
  color: rgba(255, 0, 0, 0.76);
}

/* small devices responsive min to tablet */
@media only screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

/* Medium devices and Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
